@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', 'Verdana', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

li a {
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
    max-width: 1000px;
}

.header {
    background-image: url('../img/vishnu-r-nair-m1WZS5ye404-unsplash.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 100px;
}

.header img {
    width: auto;
    height: auto;
}

.hero-img img {
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 75px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    filter: drop-shadow(0px 0px 20px #141414);
    margin-right: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 100px 100px;
}

.logo {
    font-family: 'Reenie Beanie', 'Times New Roman', serif;
    font-size: 38px;
}

.nav-list-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.hero-header {
    font-size: 24px;
    font-weight: 400;
}

.hero-block div {
    margin-bottom: 20px;
}

.hero-block {
    min-width: 0;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.hero-section {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
}

.hero-block>button {
    align-self: flex-start;
    padding: 10px 20px;
    background: none;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.emphasis {
    font-weight: bold;
    font-style: italic;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.about-title > p {
    font-size: 34px;
    font-weight: 700;
}

.bio-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.image-crop {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-crop > img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.band-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.member-blurb {
    align-self: center;
    font-size: 24px;
    font-style: italic;
    padding-top: 20px;
}

.quote-container {
    background-image: url(../img/kenny-eliason-YaYcCW1nlqc-unsplash.jpg);
    background-color: rgb(189, 189, 189);
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 25px;
}

.quote {
    font-size: 48px;
    font-weight: 100;
}

.quote-attrib {
    font-size: 24px;
    font-style: italic;
    align-self: center;
}

.mail-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.mail-form-box {
    background-color: #2d67c5;
    border-radius: 10px;
    width: 800px;
    max-width: 800px;
    min-width: 200px;
    height: auto;
    padding: 20px;
    margin: 20px;
}

.mail-form-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.mail-form-text p {
    padding-bottom: 15px;
}

.mail-header {
    font-size: 20px;
    font-weight: 700;
    flex-shrink: 1;
}

.mail-desc {
    flex-shrink: 1;
}

.input-and-button {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

input[type=email] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 18px;
    height: 40px;
    padding: 0 5px;
    width: 500px;
    min-width: 50px;
    flex-shrink: 1;
}

input[type=email]::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

input[type=email]::ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.signup-button {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 16px;
    padding: 0 25px;
    flex-shrink: 0;
}

.footer {
    background-color: #252525;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 80px;
}