@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', 'Verdana', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

li a {
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
    max-width: 1000px;
}

.header {
    background-image: url('../img/vishnu-r-nair-m1WZS5ye404-unsplash.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 100px;
}

.header img {
    width: auto;
    height: auto;
}

.hero-img img {
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 75px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    filter: drop-shadow(0px 0px 20px #141414);
    margin-right: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 100px 100px;
}

.logo {
    font-family: 'Reenie Beanie', 'Times New Roman', serif;
    font-size: 38px;
}

.nav-list-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.hero-header {
    font-size: 24px;
    font-weight: 400;
}

.hero-block div {
    margin-bottom: 20px;
}

.hero-block {
    min-width: 0;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.hero-section {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
}

.hero-block>button {
    align-self: flex-start;
    padding: 10px 20px;
    background: none;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.emphasis {
    font-weight: bold;
    font-style: italic;
}